<% if @photo.errors.present?%>
  <ul>
        <% @photo.errors.each do |error, message|%>
          <li> <%= "#{error.capitalize}  #{message}" %></li>
        <% end %>
  </ul>
<% end%>



<%= form_for @photo do |f| %>
  <%= f.label :title%></br>
  <%= f.text_field :title%></br>
  <%= f.label :date%></br>
  <%= f.text_field :date%></br>
  <%= f.label :description%></br>
  <%= f.text_field :description%></br>
  <%= f.label :file_location%></br>
  <%= f.file_field :file_location%></br>
  <%= f.submit %>
<% end %>